body{
  display: inline-block;
  width:100%;
  height:100%;
}
.head{
    display: block;
    margin:0 20%;
    max-width:60%;
    width:60%;
    border:1px solid rgb(207, 205, 205);
    background-color:whitesmoke;
    align-items: center;
}
.head h1{
    font-size: 22.68px;
    font-family: sans-serif;
    padding-top: 8px;
}
.head a{
    text-decoration: none;
}
.head p{
    font-size: 13.3px;
    font-family: sans-serif;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    
  }
  
  .grid-item {
    background-color:white;
    padding: 0px;
    margin:0% 20% 2rem 20%;
  }
  .clearfix p{
    text-align: start;
    font-size: 14px;
    font-family: sans-serif;
  }
  .clearfix ul{
    text-align:left;
    font-size: 14px;
    font-family: sans-serif;
    margin:10px;
  }

  .clearfix img{
    margin-right:10px;
  }
  .headline_1{
    font-size: 16.68px;
    font-family:sans-serif ;
    text-align: start;
    margin:8.4px 0px;
    padding:3.36px 6.72px;
    background:#cef2e0;
    border:1px solid rgb(159, 157, 157);
  }
  .headline_2{
    font-size: 16.68px;
    font-family:sans-serif ;
    text-align: start;
    margin:8.4px 0px;
    padding:3.36px 6.72px;
    background:#cedff2;
    border:1px solid rgb(159, 157, 157);
  }
  .article_1{
    background-color: #f5fffa;
    padding:0px 7px 7px;
    border:1px solid #9de3c0;
    margin:4px 2px 0px 0px;
  }
  .article_2{
    background-color: #f5faff;
    padding:0px 7px 7px;
    border:1px solid #a7c8ea;
    margin:4px 2px 0px 0px;
  }
  .content-nav{
    display: flex;
    margin:0 20%;
    height:4rem;
    align-items: end;
    margin-bottom: 1rem;
    border-bottom: 1px solid black;
  }
  #item{
    padding:0.5rem;
    font-size:15px;
    font-family: sans-serif;
  }
  #item a{
    text-decoration: none;
    padding: 0.5em 0.1rem 0 0.1rem;

  }
  #item a:hover{
    color:blueviolet;
    background-color:whitesmoke;
    
  }
  .btn{
    height:1.5em;
    padding:1px;
    border-radius:0%; 
    border-color:black;
    color:black;

  }