#container{
    width:400px;
    margin:0 auto;
    text-align: center;
}
body{
    background-color: rgb(254, 176, 81);
}
h1{
    display:flex;
    flex-direction: column;
    font-size: 5rem;
    align-items: center;
}
form{
    margin-bottom: 20px;

}
#task{
    width:80%;
    padding: 12px 20px;
    margin:8px 0;
    box-sizing: border-box;
}
button{
    width:20%;
    background-color: #4CAF50;
    color:white;
    padding:14px 20px;
    margin:8px 0;
    border:none;
    cursor:pointer;
}
#add-task{
    margin: 10px;
    background-color: rgb(7, 209, 91);
}
ul{
    list-style: none;
}
li{
    background-color: #f9f9f9;
    padding:10px;
    margin-bottom: 10px;
}
.done{
    text-decoration: line-through;
}